@import '../../common/common.scss';
#MeBottom{
    color:#AAAAAE;
    padding:rem(30) 0;
    margin-bottom:rem(120);
    margin-top:rem(40);
    font-size: rem(20);
    p{
        width:100%;
        text-align: center;
    }
}
